@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #7ED321;
    --background-color: white;
    --heading-text-color: #1C4701;
    --button-text-color:    #7ED32166;
}



body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
}

.navbar{
    text-align: center;
    padding: 1rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar a{
    text-decoration: none;
    color: black;
}
.navbar h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: 250ms;

}



.navbar span{
    color: var(--primary-color);
}
.nav-links {
    display: flex;
    gap: 3rem;
    
}	
.nav-links a{
    text-decoration: none;
    color: black;
}
.nav-links li {
    font-family: Open Sans;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style: none;
    transition: transform 0.2s, color 0.2s;
}

.nav-links li:hover {
    transform: translateY(-4px) scale(1.08);
    color: var(--primary-color);
}


.btton a {
    color: var(--heading-text-color);
    line-height: 100%;
    letter-spacing: 0%;
    background-color: var(--button-text-color);
    padding: 0.5rem 2rem;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btton a:hover {
    color: #fff;
    background-color: var(--primary-color);
    transform: scale(1.08);
    box-shadow: 0 4px 16px rgba(126, 211, 33, 0.2);
}


.hero {
    margin-top: auto;
    padding: 2rem;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hero-content{
    width: 371px;
    height: 351px;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);

}
.hero-content a{
    text-decoration: none;}

.hero-title{
    background-color: var(--background-color);
    width: 340px;
    height: 234px;
}
.hero-title{ 

    font-family: Open Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    line-height: 3.2rem;
    text-align: left;

}

.hero-image {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-image:hover {
    transform: translateX(-20px);
}

.btn{
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    margin-bottom: auto;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--heading-text-color);
    width: 220px;
    text-align: center;
    border-radius: 15px;
    transition: 200ms;

}

.btn:hover {
    background-color: #6bc11c;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(126, 211, 33, 0.2);
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.3s;
}



/* CSS DA PAGINA SOBRE.HTML*/

.wrapper{

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 2rem;
    margin: 100px;

}

.wrapper p{
    font-family: Open Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    line-height: 30px;

}
.wrapper h2{
    gap: 2rem;
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    margin-bottom: 2rem; 
}






